<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{{browserTitle}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
  <style>
    *,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}
    html {
      line-height: 1.15;
      -webkit-text-size-adjust: 100%;
      -webkit-tap-highlight-color: transparent;
    }
    body {
      padding: 1rem 2rem;
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    }
    a {
      color: #000;
    }
    ul {
      list-style: none;
    }
    @media (min-width: 576px) {
      .l-header,.l-main {
          max-width: 540px;
      }
    }
    @media (min-width: 768px) {
      .l-header,.l-main {
          max-width: 720px;
      }
    }
    @media (min-width: 992px) {
      .l-header,.l-main {
          max-width: 960px;
      }
    }
    @media (min-width: 1200px) {
      .l-header,.l-main {
          max-width: 1140px;
      }
    }
    .l-header {
      margin-bottom: 30px;
      margin-right: auto;
      margin-left: auto;
    }
    .l-header h1 {
      margin-bottom: .75rem;
      font-size: 2.5rem;
      font-weight: 300;
      text-align: center;
    }
    .l-main {
      background-color: #f7f7f7;
      border: 1px solid rgba(0,0,0,.125);
      border-radius: .25rem;
      margin-right: auto;
      margin-left: auto;
    }

    .p-info {
      text-align: right;
    }

    .p-collections {
      padding: 10px;
    }
    .p-collections ul {
      margin: 0 0 0 5px;
      padding: 0;
      position: relative;
    }
    .p-collections ul li {
      position: relative;
      margin: 0;
      padding: 7px 20px;
    }
    .p-collections ul li:before {
      content: "";
      display: block;
      position: absolute;
      top: 18px;
      left: 0;
      width: 13px;
      height: 0;
      border-top: 1px solid #666;
    }
    .p-collections ul li:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 0;
      height: 100%;
      border-left: 1px solid #666;
    }
    .p-collections ul li:last-child:after {
      height: 18px;
    }
    .p-collections > ul > li:before,
    .p-collections > ul > li:after {
      /* 最上位も線を表示する時はコメント化 */
      border: none;
    }

    .c-label {
      color: #fff;
      background-color: #42a745;
      border-radius: 5px;
      font-size: .8rem;
      font-weight: 600;
      padding: 4px 10px;
    }
    .c-label--red {
      background-color: #dc3544;
    }

    .u-mr5 {
      margin-right: 5px!important;
    }
  </style>
</head>

<body>
  <header class="l-header">
    <h1>{{title}}</h1>
    <div class="p-info">
      <p>Last updated: {{updatedAt}}</p>
      {{#if GitHubActions}}
      <p><a href="{{GitHubActions.workflowURL}}">GitHub Actions</a></p>
      {{/if}}
    </div>
  </header>
  <div class="l-main">
    <div class="p-collections">
      <ul>
      {{#each reports}}
        <li>
          {{!-- target site --}}
          {{@key}}{{#if originalName}} ({{originalName}}){{/if}}
          <ul>
          {{#each this.apis}}
            <li>
              {{!-- target api --}}
              {{@key}}
                <ul>
                  {{#each this}}
                  <li>
                    {{!-- type --}}
                    {{@key}}
                      <ul>
                        {{#each this}}
                        <li>
                          {{!-- collections --}}
                          <a href="{{href}}" class="u-mr5">{{@key}}.html</a>
                          {{#if failures}}
                            <span class="c-label c-label--red">Failed: {{failures}}</span>
                          {{else}}
                            <span class="c-label">Success</span>
                          {{/if}}
                        </li>
                        {{/each}}
                      </ul>
                  </li>
                  {{/each}}
                </ul>
            </li>
          {{/each}}
          </ul>
        </li>
      {{/each}}
      </ul>
    </div>
  </div>

</body>

</html>
